.highlight {
  background: #fff !important;
}

div.highlight {
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.3);
}

pre.highlight {
  border: solid 1px #ddd;
}

#main-content {
    width: 100%;
}

.konami {
    color: #3179cb;
}
