<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    <!-- <link rel="stylesheet" href="{{ " /assets/css/csharp.css" | prepend: site.baseurl }}"> -->
    <link href="https://rsunde.github.io/Websites__Static/bird.css" rel="stylesheet" type="text/css">

    {% seo %}
</head>

<body>
    <div id="bird" style="position: absolute; z-index: 9999;"></div>

    <header>
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>

            <!-- <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section> -->
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    <!-- Bird and Extras -->
    <script type="text/javascript">
        window.BirdPositions = {
            startPos: { left: -196, top: -95 },
            positions: [
                // Placeholder positions for Hacker theme
                { left: 10, top: 10 },
                { left: 100, top: 10 },
                { left: 200, top: 10 }
            ]
        };
    </script>

    <script src="https://rsunde.github.io/Websites__Static/jquery-2.1.4.min.js"></script>
    <script src="https://rsunde.github.io/Websites__Static/bird.js"></script>
    <script src="https://rsunde.github.io/Websites__Static/jquery.raptorize.1.0.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            // Konami Code for Raptorize
            $('body').raptorize({
                'enterOn': 'konami-code'
            });
        });
    </script>
</body>

</html>
